
//original bootstrap colors:

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

//////////////////////////////////////////////////////////////////////

//custom variables:

$rood: rgba(239,83,80 ,1);
$primary__transparent:   rgba(0, 123, 255, .55) !default;
$warning__transparent:   rgba(255, 255, 255, .25) !default;
$success__transparent:   rgba(40, 167, 69, .25) !default;
$danger__transparent:   rgba(128, 128, 128, .65) !default;
$warning2:   rgba(255, 193, 7, .75) !default;





//drukwerk  
.druk{
    //  color: rgba(255, 255, 255, .1);
     color: 	rgb(255, 255, 255);
     background-color: 	rgba(220, 53, 69, .85);
}

//Webdesign
.web{
    color: rgb(255, 255, 255);
   
}

//Conversie
.convert{
    color: 	rgb(255, 255, 255);
    background-color: 	rgba(40, 167, 69, .8);
}

//Foto-herinnering
.qrt{
    color: 	rgb(255, 255, 255);
    background-color: 	rgba(253, 126, 20, .85);

    a {
        color: 	rgb(255, 255, 255);
    }
  
}

//Contactformulier
.contact{
    color: 	rgb(255, 255, 255);
    background-color: 	rgba(23, 162, 184, .8);
}


//responsive
.respons{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 123, 255, .8);
}


//navbar colors:

a#link0{
    color: white;
    background-color: red;
}

a#link1:hover{
    color: white;
    background-color: $info;
}

a#link2:hover{
    color: white;
    background-color: $danger;
}

a#link3:hover{
    color: white;
    background-color: $primary;
}

a#link4:hover{
    color: white;
    background-color: $success;
}

a#link5:hover{
    color: white;
    background-color: $warning;
}



a#link6:hover{
    color: white;
    background-color: $info;
}

