


.navbar{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul li a{
    text-indent: 10px;
}



.jumbotron{
    color:#fff;
    background: url("../img/zethaak.png") no-repeat 0 0;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    h2{
        color: $rood;
    }


}



.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }

.box{
    border:1px solid #ccc;
    padding:20px;
}

.drukwerk{
    background: url("../img/drukwerk.jpg") no-repeat 0 0;
    background-size: cover;
    height: 600px;
    width: 100vw;
}

.webdesign{
    background: url("../img/woman.jpg") no-repeat 0 0;
    background-size: cover;
    height: 600px;
    width: 100vw;
  
}

.conversie{
    background: url("../img/txt.jpg") no-repeat 0 0;
    background-size: cover;
    height: 600px;
    width: 100vw;
   
}

.qr{
    background: url("../img/qr.png") no-repeat 0 0;
    background-size: cover;
    height: 600px;
  
}


.contactf{
    background: url("../img/contact2.jpg") no-repeat 0 0;
    background-size: cover;
    height: 600px;
    width: 100vw;
    // background-attachment: fixed;
 
   
}

.responsive2{
    background: url("../img/responsive2.jpg") no-repeat 0 0;
    background-size: cover;
    height: 600px;
    width: 100vw;
   
}

.card{
    background-color: #f0f0f0;
    max-width: 100vw;
    
}
.card .card-title{
   color: #7c9c37;
}
.card .card-text{
   font-size: 13px;
   border:none;
}


a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}


.bd{
    background-color: rgba(128, 128, 128, .75);
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;  
    top: 0px;
    p{
        font-family: 'arial', sans-serf;
        font-size: 50px;
        vertical-align: bottom;
    }

}
.logo{
    font-family: 'Archivo Black', sans-serif;
    font-size: 14vw;
    max-width: 80vw;
    max-height: 80vh;
    background: rgba(0,0,0 ,.25);
    margin: 50px auto;
    color: white;
    
    .name{
        font-family: 'Archivo Black', sans-serif;
        font-size: 7vw;
        background: red;
        color: white;
    //   padding: 10px;
      margin: 0 10px 20px 10px;
    
    //   height: 125px;
    }
  }

  .tab2{
    max-height: 500px;
    width: 100%;
  }

  footer{
      background-color: black;
      color: white;
      line-height: 24px;
  }

  .padding{
      padding: 2rem 0;
  }

 
  .adres{
      color: white;
      font-size: 1em;
  }

  .navbar-brand{
background-color: red;
font-family: 'arial-black' serif;
color: white;
padding: 0 4px;
  }
 .navbar-light {
    color: white;
    }