@import url('https://fonts.googleapis.com/css?family=Anton|Baloo+Da&display=swap');

.baloo{
    font-family: 'Baloo Da', cursive;
    color: gray;
    font-size: 28px;
   
}

.card{
    z-index: -1;
}
